* {
  position: relative;
}

a[routerLink] {
  cursor: pointer;
}

body {
  @extend .cor-branco-aa5;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  font-style: bold;
}
h5 {
  font-size: 16px;
  font-style: bold;
}
h6 {
  font-size: 14px;
  font-style: bold;
}

header {
  padding: 16px;
}

section {
  padding: 8px;
}
footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding: 16px;
}

.bb-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 8px;

  .bb-cabeca {
  }
  .bb-corpo {
  }
  .bb-pe {
  }
}

.bb-atestar {
  &-nao {
    align-items: initial;
    justify-content: initial;
    text-align: initial;
  }
  &-centro {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &-direita {
    align-items: right;
    justify-content: right;
    text-align: right;
  }
  &-esquerda {
    align-items: left;
    justify-content: left;
    text-align: left;
  }
}

.bb-firmar {
  &-nao {
    position: inherit;
    top: initial;
    left: initial;
    transform: initial;
  }

  &-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-esquerda {
    position: absolute;
    left: 0;
  }
  &-direita {
    position: absolute;
    right: 0;
  }
  &-abaixo {
    position: absolute;
    bottom: 0;
  }
  &-acima {
    position: absolute;
    top: 0;
  }
}

.bb-coluna {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  > * {
    display: block;
  }

  > .bb-firmar-centro {
    @extend .bb-firmar-nao;
    align-self: center;
    &.bb-firmar-acima {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(50%, 0);
    }
    &.bb-firmar-abaixo {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(50%, 0);
    }
    &.bb-firmar-esquerda {
      position: absolute;
      left: 0;
      bottom: 50%;
      transform: translate(0, 50%);
    }
    &.bb-firmar-direita {
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }
}

.bb-linha {
  position: relative;
  width: 100%;
  display: flex;
  padding: 8px;
  > * {
    display: inline-block;
  }
  > .bb-linha {
    display: block;
  }
  > .bb-firmar-centro {
    @extend .bb-firmar-nao;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bb-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bb-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  @extend [camada];
  &-contain {
    @extend .bb-img;
    background-size: contain;
    &.bb-firmar {
      &-esquerda {
        @extend .bb-firmar-nao;
        background-position-x: left;
      }
      &-direita {
        @extend .bb-firmar-nao;
        background-position-x: right;
      }
      &-acima {
        @extend .bb-firmar-nao;
        background-position-y: top;
      }
      &-abaixo {
        @extend .bb-firmar-nao;
        background-position-y: bottom;
      }
    }
  }
}

[camada] {
  position: absolute;
  top: 0;
  left: 0;
}

[fixada] {
  position: fixed;
  top: 0;
  left: 0;
}

[fullpage] {
  height: 100vh;
  width: 100vw;
}

[fullcontent] {
  width: 100%;
  height: 100%;
}

.over {
  &-hid {
    overflow: hidden;
  }
  &-scr {
    overflow: scroll;
    &-y{
      overflow-x: hidden;
      overflow-y: scroll;
    }
    &-x{
      overflow-y: hidden;
      overflow-x: scroll;
    }
  }

}

.bb-anim {
  &-agitar {
    animation-name: agitar;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.8s;

    @keyframes agitar {
      0% {
        transform: scale(0.7);
      }
      100% {
        transform: scale(1.7);
      }
    }
  }
  &-exibir {
    animation-name: exibir;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 120s;

    @keyframes exibir {
      1% {
        transform: scale(1) translate(0, 0) rotate(0deg);
      }
      20% {
        transform: scale(3) translate(13%, 20%) rotate3d(1, 1, 1, -38deg);
      }
      40% {
        transform: scale(1.4) translate(-30%, 5%) rotate(12deg);
      }
      60% {
        transform: scale(2) translate(-20%, -10%);
      }
      80% {
        transform: scale(3) translate(33%, 10%) rotate(-11deg);
      }
      100% {
        transform: scale(1.1) translate(5%, 0%) rotate3d(2, 1, -1, 32deg);
      }
    }
  }

  &-inspecionar {
    animation-name: inspecionar;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 60s;

    @keyframes inspecionar {
      1% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
      }

      2% {
        transform: scale(1) translate(0, 0);
        opacity: 0;
      }
      3% {
        transform: scale(2) translate(30%, 20%);
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      30% {
        transform: scale(2) translate(0%, 20%);
        opacity: 1;
      }

      32% {
        transform: scale(2) translate(0%, 20%);
        opacity: 0;
      }
      33% {
        transform: scale(2) translate(20%, -35%);
        opacity: 0;
      }
      35% {
        opacity: 1;
      }
      60% {
        transform: scale(2) translate(-30%, -35%);
        opacity: 1;
      }

      62% {
        transform: scale(2) translate(-30%, -35%);
        opacity: 0;
      }
      63% {
        transform: scale(2) translate(-30%, 0%);
        opacity: 0;
      }
      65% {
        opacity: 1;
      }
      90% {
        transform: scale(2) translate(4%, 0%);
        opacity: 1;
      }
      100% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
      }
    }
  }

  &-pulsar {
    animation-name: pulsar;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 1.3s;

    @keyframes pulsar {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 0.4;
      }
      30% {
        opacity: 0.3;
      }
      40% {
        opacity: 0.5;
      }
      100% {
        opacity: 0.8;
      }
    }

    &-negativo {
      animation-name: pulsar-negativo;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 1s;
      animation-duration: 1.3s;

      @keyframes pulsar-negativo {
        0% {
          opacity: 0.2;
        }
        10% {
          opacity: 0.6;
        }
        30% {
          opacity: 0.3;
        }
        40% {
          opacity: 1;
        }
        55% {
          opacity: 0.2;
        }
        100% {
          opacity: 0.2;
        }
      }
    }
  }

  &-gravitacionar {
    animation-name: gravitacionar;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: infinite;
    animation-duration: 400s;

    @keyframes gravitacionar {
      0% {
        transform: rotate(0deg) scale(2);
      }
      100% {
        transform: rotate(360deg) scale(2);
      }
    }
  }

  &-trovejar {
    animation-name: trovejar;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;

    animation-duration: 3s;

    @keyframes trovejar {
      0%,
      51% {
        filter: hue-rotate(0deg) brightness(1) grayscale(0);
      }
      5% {
        filter: hue-rotate(0deg);
      }
      6% {
        filter: hue-rotate(240deg) brightness(1);
      }
      7% {
        filter: hue-rotate(240deg) brightness(1.5);
      }
      8% {
        filter: hue-rotate(240deg) brightness(1);
      }

      10% {
        filter: hue-rotate(0deg) brightness(1);
      }
      12% {
        filter: hue-rotate(240deg) brightness(2.5) grayscale(0);
      }
      33% {
        filter: hue-rotate(240deg) brightness(1) grayscale(0.8);
      }
      34% {
        filter: hue-rotate(0deg) brightness(1) grayscale(1);
      }
      50% {
        filter: hue-rotate(0deg) brightness(1) grayscale(0);
      }
    }
  }
}

.c-pointer {
  cursor: pointer;
}

[animar] {
  &[hover] {
    &.bb-inflar {
      transition: transform 0.2s ease-out;
    }
    &.bb-inflar:hover {
      transform: scale(1.1);
    }

    &.bb-destacar {
      .alvo-destacar {
        opacity: 0.6;
      }
    }
    &.bb-destacar:hover {
      .alvo-destacar {
        opacity: 1;
      }
    }
  }

  &[transicao] {
    &.bb-suavizar-cor {
      .alvo-suavizar-cor {
        transition: color 0.2s ease-in-out;
      }
    }
    &.bb-suavizar-opacidade {
      .alvo-suavizar-opacidade {
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}

.d {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inblock {
    display: inline-block;
  }
  &-xs {
    &-none {
      @media screen and (max-width: 575px) {
        display: none;
      }
    }
  }
  &-sm {
    &-none {
      @media screen and (max-width: 768px) {
        display: none !important;
      }
    }
  }
  &-md {
    &-none {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &-lg {
    &-none {
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
  &-xl {
    &-none {
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
}

.list {
  &-sty {
    &-nao {
      list-style: none;
    }
  }
}

$interval: 3;
$i: 0;
$max: 300;

@while ($i <= $max) {
  $p: $i / $interval;

  //Tamanho de fonte - font-size
  .fs {
    &-px-#{$i} {
      font-size: #{$i}px;
    }
  }

  //Padding - padding
  .p {
    &-px-#{$i} {
      padding: #{$i}px;
    }
    &t-px-#{$i} {
      padding-top: #{$i}px;
    }
    &b-px-#{$i} {
      padding-bottom: #{$i}px;
    }
    &l-px-#{$i} {
      padding-left: #{$i}px;
    }
    &r-px-#{$i} {
      padding-right: #{$i}px;
    }
    &h-px-#{$i} {
      padding-right: #{$i}px;
      padding-left: #{$i}px;
    }
    &v-px-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
  }

  //Margem - margin
  .m {
    &h-px-#{$i} {
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }
    &v-px-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
    &t-px-#{$i} {
      margin-top: #{$i}px;
    }
    &-px-#{$i} {
      margin: #{$i}px;
    }
  }

  //Altura - height
  .h {
    &-px-#{$i} {
      height: #{$i}px;
    }
    &-pc-#{$p} {
      height: 0% + ($p);
    }
  }

  //Largura - width
  .w {
    &-px-#{$i} {
      width: #{$i}px;
    }
    &-pc-#{$p} {
      width: 0% + ($p);
    }
  }

  //Flex - flex
  .f {
    &-#{$p} {
      flex: #{$p};
    }
  }

  //Máximos - max-width, max-height
  .max {
    &-w {
      &-px-#{$i} {
        max-width: #{$i}px;
      }
    }
  }

  $i: $i + $interval;
}

/* .fundo-{cor desejada}-{SVT} 
  ---> 
  http://learn.leighcotnoir.com/wp-content/uploads/2011/07/cone_slice-252x300.jpg
  -->
  S:  [0,1,2.. ..8,9,a : saturação] -->     mais à esquerda: a,     mais à direita: 0
  V:  [0,1,2.. ..8,9,a : valor] -->         mais acima: a,          mais abaixo: 0
  T:  [0,1,2.. ..8,9,a : transparência] --> menos transparente: a   mais transparente: 0
  
              saturação
        a 9 8 7 6 5 4 3 2 1 0      
     a  █ █ █ █ █ █ █ █ █ █ █      █
     9  █ █ █ █ █ █ █ █ █ █ █      █
  v  8  █ █ █ █ █ █ █ █ █ █ █      █ t
  a  7  █ █ █ █ █ █ █ █ █ █ █      █ r
  l  6  █ █ █ █ █ █ █ █ █ █ █      █ a
  o  5  █ █ █ █ █ █ █ █ █ █ █      █ n
  r  4  █ █ █ █ █ █ █ █ █ █ █      █ s
     3  █ █ █ █ █ █ █ █ █ █ █      █ p
     2  █ █ █ █ █ █ █ █ █ █ █      █ .
     1  █ █ █ █ █ █ █ █ █ █ █      █ 
     0  █ █ █ █ █ █ █ █ █ █ █      █
  
  
  */

.fundo {
  &-branco {
    &-a9a {
      background-color: rgb(218, 218, 218);
      color: rgba(0, 0, 0, 0.9);
    }

    &-aa5 {
      background-color: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.9);
    }
    &-aa7 {
      background-color: rgba(255, 255, 255, 0.7);
      color: rgba(0, 0, 0, 0.9);
    }
    &-aa8 {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(0, 0, 0, 0.9);
    }
    &-aaa {
      background-color: rgb(255, 255, 255);
      color: rgba(0, 0, 0, 0.9);
    }
  }
  &-preto {
    &-aa1 {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgb(255, 255, 255);
    }
    &-aa3 {
      background-color: rgba(0, 0, 0, 0.3);
      color: rgb(255, 255, 255);
    }
    &-aa5 {
      background-color: rgba(0, 0, 0, 0.5);
      color: rgb(255, 255, 255);
    }
    &-aa7 {
      background-color: rgba(0, 0, 0, 0.7);
      color: rgb(255, 255, 255);
    }
    &-aa8 {
      background-color: rgba(0, 0, 0, 0.8);
      color: rgb(255, 255, 255);
    }
    &-aa9 {
      background-color: rgba(0, 0, 0, 0.9);
      color: rgb(255, 255, 255);
    }
    &-aaa {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
  }
}

.cor {
  &-branco {
    &-aaa {
      color: rgb(255, 255, 255);
    }
    &-aa5 {
      color: rgba(255, 255, 255, 0.5);
    }
    &-aa3 {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &preto {
    &-aaa {
      color: rgb(0, 0, 0);
    }
  }

  &-amarelo {
    &-0aa {
      color: rgb(255, 255, 0);
    }
  }

  &-verde {
    &-28a {
      color: rgb(30, 215, 97);
    }
  }
}
