#sterwurscontainer{
  display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#sterwurs{
  position: absolute;
  width: 100vw;
  max-width: 1400px;
  height: 50em;
  bottom: 0;
  left: 50%;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 0% 94%;
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg) translate(-50%, 0);


}

#sterwurs:after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}

#sterwurscontent {
  white-space: pre-wrap;
  top: 100%;
  animation: scroll 170s linear 2s;
}

#sterwurstitle{
  text-align: center;
}

#sterwurstitle>h2{
  padding-bottom: 135px;
  padding-top: 40px;
  font-weight: 400;
  font-size: 85px;
  text-transform: uppercase;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

@media (max-width: 556px) {
  #sterwurs, #sterwurs *, #sterwurstitle>h2{font-size: 120%;}
}
