<div fullcontent class="over-scr-y">
  <div camada fullpage class="over-hid">
    <div class="bb-img-container fundo-preto-aa7">
      <div *ngIf="vm.background" [@slideRightAndFadeIn] class="bb-img bb-anim-gravitacionar"
        [ngStyle]="{ 'background-image': 'url(' + vm.background + ')' }"></div>
      <div camada fullpage class="fundo-preto-aa5" [ngClass]="[vm.background ? vm.animacaoFiltro : '']"></div>
      <div camada fullpage class="fundo-preto-aa5"></div>
    </div>
  </div>
  <div fullpage class="over-scr-y">
    <header>
      <div class="bb-linha bb-atestar-centro h-px-60 d-xs-none">
        <div class="bb-img-contain" style="background-image: url('./assets/img/cw-logo.svg')"></div>
      </div>
      <div class="bb-linha bb-atestar-centro d-xs-none">
        <h5>
          Totally random planets.
        </h5>
      </div>
    </header>


    <app-planetas-aleatorios class="bb-atestar-centro bb-linha" *ngIf="!dados.apresentacao.exibindoApresentacao"
      [@fadeInFadeOut]>
    </app-planetas-aleatorios>
  </div>
  <div camada fullcontent *ngIf="dados.apresentacao.exibindoApresentacao" [@fadeInFadeOut] class="over-hid">
    <app-startext class="cor-amarelo-0aa" [episodio]="dados.apresentacao.episodioApresentacao"
      [titulo]="dados.apresentacao.tituloApresentacao" [texto]="dados.apresentacao.textoApresentacao">
    </app-startext>
  </div>
  <footer>
    <div class="bb-linha">
      <div class="d-xs-none col-sm-4">

      </div>
      <div class="col-xs-12 col-sm-4 bb-atestar-centro">
        <a animar hover transicao class="bb-destacar bb-suavizar-opacidade fs-px-24 c-pointer"
          (click)="iniciarPararApresentacao()" target="_blank">
          <div *ngIf="!dados.apresentacao.exibindoApresentacao"
            class=" alvo-destacar alvo-suavizar-opacidade cor-verde-28a">
            <em class="fab fa-spotify"></em>
            <h6>Dramatic resume crawl</h6>
          </div>
          <div *ngIf="dados.apresentacao.exibindoApresentacao"
            class="alvo-destacar alvo-suavizar-opacidade cor-branco-aaa">
            <em class="fas fa-times-circle"></em>
            <h6>Stop crawl</h6>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="bb-atestar-direita">
          <sub class="d-block cor-branco-aa3 p-px-3 fs-px-24 ">
            <a animar hover transicao href="https://www.facebook.com/renan.rossidias" target="_blank"
              class="bb-destacar bb-suavizar-opacidade mh-px-6">
              <em class="fab fa-facebook cor-branco-aaa alvo-destacar alvo-suavizar-opacidade"> </em>
            </a>
            <a animar hover transicao href="https://www.linkedin.com/in/renanrossidias" target="_blank"
              class="bb-destacar bb-suavizar-opacidade mh-px-6">
              <em class="fab fa-linkedin cor-branco-aaa alvo-destacar alvo-suavizar-opacidade"> </em>
            </a>
          </sub>
        </div>
      </div>
    </div>
  </footer>
</div>