/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "~ngx-toastr/toastr";

@font-face {
  font-family: "starwarsjedi";
  src: url('assets/font/starwars_jedi/starwarsjedi.eot');
  src: url('assets/font/starwars_jedi/starwarsjedi.ttf') format("truetype");
  src: url('assets/font/starwars_jedi/starwarsjedi.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}


// Theme customization
// @import "theme/theme";
