.btn
{
    &-starwars{
        background-color: #ffffff4a;
        color: #cec341;
        padding: 20px;
        outline: none;
        border: none;
        font-family: 'starwarsjedi';
        text-transform: uppercase;
        border-radius: 10px;
        opacity: 0.8;
        &:disabled{
            opacity: 0.4;
        }
        &:not(:disabled):hover
        {
            opacity: 1;
        }

    }

}