<section class="bb-atestar-centro">
  <h6 class="d-xs-none">Click 'Next planet' to randomly pick a StarWars planet.</h6>

  <div class="bb-coluna">
    <div class="bb-linha bb-atestar-nao">

      <dl>
        <dt>Planet</dt>
        <dd>
          <h2 class="cor-branco-aaa">{{dados.planeta.nome}}</h2>
        </dd>
        <dt><em class="fas fa-user pr-px-12"></em>Population </dt>
        <dd class="cor-branco-aaa">{{abreviarQuantidade(dados.planeta.populacao)}}</dd>
        <dt><em class="fas fa-cloud pr-px-12"></em>Climate </dt>
        <dd class="cor-branco-aaa">{{dados.planeta.clima}}</dd>
        <dt><em class="fas fa-seedling pr-px-12"></em>Terrain </dt>
        <dd class="cor-branco-aaa">{{dados.planeta.composicao_superficie}}</dd>
        <dt><em class="fas fa-film pr-px-12"></em>Featured in films </dt>
        <dd>
          <ul class="cor-branco-aaa">
            <li *ngFor="let filme of dados.planeta.filmes">{{filme.titulo}}</li>
            <li *ngIf="dados.planeta.filmes &&  dados.planeta.filmes.length == 0">No films were shot in this planet. :'(</li>
          </ul>
        </dd>

      </dl>
      <div camada fullcontent class="fundo-preto-aa9" *ngIf="(dados.carregando.planetas || dados.carregando.filmes)"
        [@fadeInFadeOut]></div>
      <div class="cor-branco-aaa" *ngIf="(dados.carregando.planetas || dados.carregando.filmes)" [@slideRightAndFadeIn] camada fullcontent>
        <div class="bb-firmar-centro bb-atestar-centro">
          <p class="bb-anim-agitar"><em class="fas fa-jedi"></em></p>
          <p>Choosing an awesome planet to land...</p>
        </div>
      </div>

    </div>
    <div animar transicao class="bb-linha bb-atestar-centro bb-suavizar-opacidade pb-px-102">
      <button class="btn-starwars alvo-suavizar-opacidade" (click)="randomizarPlaneta()"
        [disabled]="dados.carregando.planetas || dados.carregando.filmes">Next planet</button>
    </div>
  </div>
</section>